:root {
    --sl-font: 'Poppins', sans-serif;
    --sl-content-width: 65rem;
	--sl-text-2xs: 0.75rem; /* 12px */
	--sl-text-xs: 0.8125rem; /* 13px */
	--sl-text-sm: 0.875rem; /* 14px */
	--sl-text-base: 1rem; /* 16px */
	--sl-text-lg: 1.125rem; /* 18px */
	--sl-text-xl: 1.25rem; /* 20px */
	--sl-text-2xl: 1.5rem; /* 24px */
	--sl-text-3xl: 1.8125rem; /* 29px */
	--sl-text-4xl: 2.1875rem; /* 35px */
	--sl-text-5xl: 2.625rem; /* 42px */
	--sl-text-6xl: 4rem; /* 64px */

    --sl-text-body: var(--sl-text-sm);
	--sl-text-body-sm: var(--sl-text-2xs);
	--sl-text-code: var(--sl-text-xs);
	--sl-text-code-sm: var(--sl-text-2xs);
	--sl-text-h1: var(--sl-text-2xl);
	--sl-text-h2: var(--sl-text-xl);
	--sl-text-h3: var(--sl-text-lg);
	--sl-text-h4: var(--sl-text-base);
	--sl-text-h5: var(--sl-text-sm);

    --sl-sidebar-pad-x: 1rem;
    --sl-line-height: 1.65;
    --sl-content-pad-x: 4rem;
}

/* Dark mode colors. */
:root {
	--sl-color-accent-low: #00273d;
	--sl-color-accent: #0071a7;
	--sl-color-accent-high: #92d1fe;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #e7eff2;
	--sl-color-gray-2: #c2ccd0;
	--sl-color-gray-3: #92a6ad;
	--sl-color-gray-4: #495c62;
	--sl-color-gray-5: #2a3b41;
	--sl-color-gray-6: #182a2f;
	--sl-color-black: #121a1c;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #b0deff;
	--sl-color-accent: #005580;
	--sl-color-accent-high: #003653;
	--sl-color-white: #121a1c;
	--sl-color-gray-1: #182a2f;
	--sl-color-gray-2: #2a3b41;
	--sl-color-gray-3: #495c62;
	--sl-color-gray-4: #7b8f96;
	--sl-color-gray-5: #bac4c8;
	--sl-color-gray-6: #e7eff2;
	--sl-color-gray-7: #f3f7f9;
	--sl-color-black: #ffffff;
}